.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  padding-right: 1rem;
  height: 10.5vh;
}

.header__logo {
  height: 120px;
}

.header__itemContainer {
  width: 160%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  list-style: none;
  font-weight: 500;
  cursor: pointer;
  color: #f48c06;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
