.posts__recipeHead {
  color: #f48c06;
  font-size: 2rem;
}

.post__cardContainer {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 5rem;
}

@media (max-width: 1300px) {
  .post__cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .post__cardContainer div:nth-child(4) {
    display: none;
  }
}
