.feature {
  background-image: url("../../assets/feature-new.jpg");
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}

.feature__sloganContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1.5rem;
}

.feature__slogan {
  margin: 0;
  font-size: 2rem;
  width: 500px;
  text-align: justify;
  margin-bottom: 2rem;
}

.feature__slogan span {
  color: #f48c06;
}

.feature__detail {
  text-align: justify;
  width: 500px;
  color: #5f5f5f;
  margin-bottom: 2rem;
}

.feature_btnContainer {
  display: flex;
  justify-content: flex-end;
}

.feature_btnSubContainer {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-right: 1.5rem;
}

.feature__btn {
  background-color: #fff;
  border: solid;
  border-color: #f48c06;
  color: #f48c06;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border-radius: 35px;
}

.feature__btn span {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-right: 0.5rem;
}

.feature__btn img {
  height: 40px;
}

.feature__btn:nth-child(2) {
  background-color: #f48c06;
  color: #ffffff;
}
